@model MongoDBProject.Dtos.OrderDtos.GetByIdOrderDto

@{
    ViewData["Title"] = "UpdateOrder";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <br />
    <form method="post">
        <div class="alert alert-info">Ürün Güncelleme </div>
        <label>Ürün Id</label>
        <input type="text" asp-for="OrderId" class="form-control" />
        <br />
        <label>Ürün Adı</label>
        @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.Product, "Seçiniz...", new { @class = "form-control" })
        <br />
        <label>Ürün Adet</label>
        <input type="text" asp-for="OrderProductPiece" class="form-control" />
        <br />
        <label>Müşteri Seçiniz</label>
        @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.Customers, "Seçiniz...", new { @class = "form-control" })
        <br />
        <label>Sipariş Tarihi</label>
        <input type="text" asp-for="OrderDate" class="form-control" />
        <br />
        <button class="btn btn-dark">Sipariş Güncelle</button>
    </form>
</div>
