<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">

            <h3>Admin Paneli</h3>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-view-dashboard"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/ProductList/">
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/CategoryList/">
                <i class="mdi mdi-bookmark-plus"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerList/">
                <i class="mdi mdi-account"></i>
                <span class="menu-title">Müşteri Bilgileri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderList/">
                <i class="mdi mdi-playlist-check"></i>
                <span class="menu-title">Sipariş Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/PdfReport/PdfList/">
                <i class="mdi mdi-file-document-box menu-icon"></i>
                <span class="menu-title">Pdf İndirme</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Excel/ExcelList/">
                <i class="mdi mdi-file-document-box menu-icon"></i>
                <span class="menu-title">Excel İndirme</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-settings"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/Index/">
                <i class="mdi mdi-exit-to-app"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>