
@{
    ViewData["Title"] = "PdfList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <h1>Pdf Raporları Sayfası</h1>
    <br />
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header border">
                <br /><br />
                <h3 class="mb-0">Pdf İndirme</h3>
            </div>
            <a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-primary">Sipariş Listesi Pdf Raporu İndir</a>
            <br /><br /> <br />
        </div>

    </div>
</div>
